/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');


/* media */

.container {
    padding: 0 15px;
  }
  
  @media (min-width: 575.98px){
    .container {
      padding: 0 calc(50vw - 270px);
    }
  }
  
  @media (min-width: 767.98px){
    .container {
      padding: 0 calc(50vw - 360px);
    }
  }
  
  @media (min-width: 991.98px) {
    .container {
      padding: 0 calc(50vw - 480px);
    }
  }
  
  @media (min-width: 1109.98px){
    .container {
      padding: 0 calc(50vw - 555px);
    }
  }


/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
}